
@{
    ViewBag.Title = "Blog";
    Layout = "~/Areas/Ejercicio10/Views/Shared/_Layout.cshtml";
}
<div class="p-5 text-center bg-image"
        style=" background-image: url('https://www.ubp.com/files/live/sites/ubp/files/image/banner_newsroom/200124_Vignette_Web_Detail.jpg'); height: 400px; ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Gaming Blog</h1>
                <h4 class="mb-3">El mejor blog de Gaming del mundo</h4>                   
            </div>
        </div>
    </div>
</div><br />
<div class="row">
    <div class="row row-cols-2">
        <div class="col-4">
            <div class="card bg-dark text-white">
                <img src="https://tvazteca.brightspotcdn.com/bf/0f/a4dce04c49a69a320ecc9ecc3e52/captura-de-pantalla-2020-06-11-a-las-16.29.04.png"
                     class="card-img"
                     alt="..." />
                <div class="card-img-overlay">
                    <h5 style="color: black;" class="card-title">NUEVO</h5>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card bg-dark text-white">
                <img src="https://www.rockstargames.com/reddeadredemption2/dist/img/global/social/ea95b42f4d8029ac2510571cc8dbdae4.jpg"
                     class="card-img"
                     alt="..." />
                <div class="card-img-overlay">
                    <h5 style="color: black;" class="card-title">Review</h5>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Calificación</li>
                <li class="list-group-item"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></li>
                <li class="list-group-item">Disponible en:</li>
                <li class="list-group-item"><i class="fab fa-xbox"></i> <i class="fab fa-playstation"></i> <i class="fab fa-steam"></i></li>
            </ul>
        </div>
    </div>
</div>

