
@{
    ViewBag.Title = "News";
    Layout = "~/Areas/Ejercicio10/Views/Shared/_Layout.cshtml";
}

<h2>Noticias</h2>
<div class="container">
    <div class="row row-cols-3">
        <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Mario_Fiad_-_Jornada_de_Oncolog%C3%ADa_en_el_Senado%2C_2019.png/800px-Mario_Fiad_-_Jornada_de_Oncolog%C3%ADa_en_el_Senado%2C_2019.png"
                 class="card-img-top"
                 alt="..." />
            <div class="card-body border-secondary shadow-0">
                <h5 class="card-title">Aprueban Nueva Ley</h5>
                <p class="card-text">
                    Se llevó a cabo la asamblea que dictaminó la fecha en la que entra en vigor esta nueva ley
                </p>
                <a href="#!" class="btn btn-rounded btn-dark">Ir a la nota completa</a>
            </div>
        </div>
        <div class="card">
            <img src="https://tvazteca.brightspotcdn.com/dims4/default/52a6ed6/2147483647/strip/true/crop/5066x2897+0+0/resize/968x554!/format/jpg/quality/80/?url=https%3A%2F%2Ftvazteca.brightspotcdn.com%2F0a%2F7f%2F77719ff34f41ac4dca8a12f33066%2Fpfize-biontech-vacuna-covid-19.JPG"
                 class="card-img-top"
                 alt="..." />
            <div class="card-body border-secondary shadow-0">
                <h5 class="card-title">Ya hay vacuna!</h5>
                <p class="card-text">
                    Las primeras pruebas se aplicarán en el primer trimestre del próximo año.
                </p>
            </div>
        </div>
        <div class="card">
            <img src="https://as01.epimg.net/meristation/imagenes/2020/03/15/reportajes/1584279009_974099_1584279095_noticia_normal.jpg"
                 class="card-img-top"
                 alt="..." />
            <div class="card-body border-secondary shadow-0">
                <h5 class="card-title">¿Qué se estrenará el 2021?</h5>
                <p class="card-text">
                    Revisa la lista de los próximos estrenos
                </p>
                <a href="#!" class="btn btn-rounded btn-dark">Ir a la nota completa</a>
            </div>
        </div>
    </div><br />
    <div class="row">
        <h7>Síguenos en redes Sociales</h7>
        <div class="col col-1">
            <!-- Facebook -->
            <a style="color: #3b5998" href="#!" role="button">
                <i class="fab fa-facebook-f fa-lg"></i>
            </a>
        </div>
        <div class="col col-1">
            <!-- Twitter -->
            <a style="color: #55acee" href="#!" role="button">
                <i class="fab fa-twitter fa-lg"></i>
            </a>
        </div>
        <div class="col col-1">
            <!-- Google -->
            <a style="color: #dd4b39" href="#!" role="button">
                <i class="fab fa-google fa-lg"></i>
            </a>
        </div>
        <div class="col col-1">
            <!-- Instagram -->
            <a style="color: #ac2bac" href="#!" role="button">
                <i class="fab fa-instagram fa-lg"></i>
            </a>
        </div>   
    </div>
</div>
