
@{
    ViewBag.Title = "Search";
    Layout = "~/Areas/Ejercicio10/Views/Shared/_Layout.cshtml";
}
<h2>Search</h2>
<div class="container">
    <div class="row row-cols-2">
        <div class="col-10">
            <h4>Los mejores navegadores para Desarrolladores</h4>
            <ul>
                <li><i class="fab fa-firefox"></i> Firefox Developer Edition</li>
                <li><i class="fab fa-opera"></i> Opera Mini </li>
                <li><i class="fab fa-chrome"></i> Google Chrome</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5> Los lenguajes de programación mas usados </h5>
            <ul>
                <li><i class="fab fa-js"></i> JavaScript</li>
                <li><i class="fab fa-python"></i> Python</li>
                <li><i class="fab fa-java"></i> Java</li>
            </ul>
        </div>
    </div>
</div>

