@model Semana3.Areas.Ejercicio4.Models.ActivityClass
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>
<h2>Agenda de Actividades</h2>
<br />
<div>
    <div class="row row-cols-2">
        <div class="col-8">
            <div class="row row-cols-2">
                <div class="input-group col-6" style="padding-right: 0px;">
                    <input id="searchByDate" />
                    <input type="button" class="btn btn-dark" value="Filtrar" onclick="searchByDate()" />
                    <input type="button" class="btn btn-dark" value="Limpiar filtro" onclick="clearFilter()" />
                </div>                
            </div>
        </div>
        <div class="col-4">
            <input type="button" class="btn btn-dark" value="Agendar nueva actividad" onclick="location.href='@Url.Action("Create", "Home")'" />
        </div>
    </div>
</div><br />
<div>
    <div class="row">
        <table class="table table-bordered table-condensed table-hover table-striped" id="agendaTable">
            <thead>
                <tr>
                    <th>Actividad</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Duración</th>
                    <th>Notas</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>        
        //Date Picker
        $('#searchByDate').datepicker({
            format: 'dd-mm-yyyy'            
        });
        //Tabla de Agenda
        $(document).ready(function () {
            allRegisterRequest();
        });        
         //Solicitud de Registros de Agenda
        function allRegisterRequest() {
            $.ajax({
            type: 'POST',
            url: '@Url.Action("readFile")',
                success: function (data) {
                    //Recorre el array de actividades
                    data.forEach(function eachActivity(item, index) {
                        var activityObject = JSON.parse(item);
                        var tr;
                        tr = $('<tr/>');
                        //Recorremos el objeto para agregar a la tabla
                        Object.entries(activityObject).forEach(entry => {                            
                            const [key, value] = entry;
                            if (key == "activityPeriod") {
                                if (value == "60")
                                {
                                    tr.append("<td>" +"1 Hora" + "</td>")
                                }else
                                {
                                    tr.append("<td>" + value + " Minutos" + "</td>");
                                }
                            } else {
                                tr.append("<td>" + value + "</td>");
                            }
                        });
                        $('table').append(tr);
                    });
                }
            });
        }
        //Limpia la tabla
        function clearTable() {
            $("#agendaTable tbody tr").filter(function () {
                $(this).remove()
            });
        }
        //Solicitud filtrada
        function filteredSearch() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("readFile")',
                success: function (data) {
                    //Recorre el Array de actividades
                    data.forEach(function eachActivity(item, index) {
                        var activityObject = JSON.parse(item);
                        var tr;
                        tr = $('<tr/>');
                        if (activityObject.scheduledDate == inputSearch) {
                            clearTable();
                            //Recorremos el objeto para agregar a la tabla
                            Object.entries(activityObject).forEach(entry => {
                                
                                const [key, value] = entry;
                                if (key == "activityPeriod") {
                                    if (value == "60") {
                                        tr.append("<td>" + "1 Hora" + "</td>")
                                    } else {
                                        tr.append("<td>" + value + " Minutos" + "</td>");
                                    }
                                } else {
                                    tr.append("<td>" + value + "</td>");
                                }
                            });
                            $('table').append(tr);
                        } else { 
                            
                        }                           
                    });
                }
            });
        }
        //Buscar por fecha
        function searchByDate(){
            inputSearch = document.getElementById("searchByDate").value;
            if (inputSearch == undefined || inputSearch == null || inputSearch == "")
            {                   
                clearTable();
                allRegisterRequest();
            }
            else
            {   
                filteredSearch();
            }
        }
        //Limpiar el filtro
        function clearFilter() {
            $('#searchByDate').val('');
            clearTable();
            allRegisterRequest();
        }
    </script>
}

